<div class="container">

  <div class="border-bottom text-black navbar-lewagon", style="position: fixed">
    <h2>My fave loos</h2>
  </div>
  <br>
  <br>

  <div class="container">
    <% @favorite_loos.each do |loo| %>
      <%= render 'loos/loo', loo: loo %>
    <% end %>
  </div>
</div>
