<div class="container">

  <div class="border-bottom text-warning">
    <h1>My fave loos</h1>
  </div>

  <div class="container">
    <% @favorites.each do |loo| %>
      <% raise %>
      <%= loo.name %>
      <%= loo.address %>
    <% end %>
  </div>

</div>
