<div class="container">

  <div class="border-bottom text-warning">
    <h1>My fave loos</h1>
  </div>

  <div class="container">
    <% @favorite_loos.each do |loo| %>
      <%= render 'loos/loo', loo: loo %>
    <% end %>
  </div>

</div>
