<h2><%= loo.name %></h2>
<p><%= loo.address %></p>
<p>TODO: Distance from me: xxx meters</p>
<p>TODO: Average rating: 5 stars</p>
<p>TODO: how to make it clickable on card</p>
<p>TODO: Add star to make favourite loo</p>
<%= link_to 'Learn more', loo_path(loo), class: "btn btn-primary" %>
