
<h2><%= loo.name %></h2>
<p><%= loo.address %></p>


<p>Facilities:
 <% if loo.parking %>
<i class="fas fa-parking ms-1"></i>
<% end %>


 <% if loo.accessible %>
<i class="fas fa-wheelchair ms-1"></i>
<% end %>


 <% if loo.baby_change %>
<i class="fas fa-baby ms-1"></i>
<% end %>


 <% if loo.male %>
<i class="fas fa-male ms-1"></i>
<% end %>


 <% if loo.female %>
<i class="fas fa-female ms-1"></i>
<% end %>


<% if loo.unisex %>
<i class="fas fa-restroom ms-1"></i>
<% end %>
</p>
<p>To do: Distance from me:</p>










<%= link_to loo_path(loo) do %>
<i class="fas fa-search" style=  "width 100%"></i>
<%# //make button pink with white magnifying glass %>

<%end %>
