<div style="width: 100%; height: 600px;"
        data-controller="mapbox-directions"
        data-mapbox-directions-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-mapbox-directions-destination-value="<%= [@loo.longitude, @loo.latitude] %>">
</div>



<%# Distance from me: use class: mapbox-directions-component mapbox-directions-route-summary -> h1 -> innertext %>


<%# const distanceFromMe = document.querySelector('#mapbox-directions-route-summary h1') %>
