<div class="container", style="position: relative">
  <div class="row">
    <div class="col-12 pt-4 pb-4">
      <h2>Loo #<%= @loo.name %></h2>
    </div>
  </div>

<%# // RATING CONTAINER // %>
  <div class="row border-bottom">
    <div class="col-12 pt-4 pb-4">
      <h4>rating</h4>
      <%# // PLACEHOLDER FOR ICONS BELOW - to be updated by shannon later // %>
      <p> 1 2 3 hello hello </p>
      <i class="fas fa-heart position-icon text-primary ms-1"></i>
    </div>
  </div>

  <%# // FACILITIES CONTAINER // %>
  <div class="row border-bottom">
    <div class="col-12 pt-4 pb-4">
      <h4>facilities</h4>
      <p> 1 2 3 hello hello </p>
      <%# // PLACEHOLDER FOR ICONS BELOW - to be updated by shannon later // %>
      <i class="fas fa-heart position-icon text-primary ms-1"></i>
    </div>
  </div>

<%# // OPENING HOURS CONTAINER // %>
  <div class="row border-bottom">
    <div class="col-12 pt-4 pb-4">
      <h4>opening hours</h4>
      <%# // PLACEHOLDER FOR ICONS BELOW - to be updated by shannon later // %>
      <%= @loo.opening_hours %>
    </div>
  </div>

<%# // Button to toilet route to be updated //  %>


<%= link_to "to the LOO!", loos_path, class: "col-12 mx-auto btn btn-primary text-warning", style: "position: absolute; bottom: 0px" %>
</div>
