<div class="container">
  <div class="row">
    <div class="col-6 p-4">
      <h1>Loo #<%= @loo.name %></h1>
    </div>
  </div>
</div>

 <%# // RATING CONTAINER - flex to be added later // %>
<div class="container">
  <div class="row">
    <div class="col-6 p-4">
      <h2>Rating</h2>
      <%# // PLACEHOLDER FOR ICONS BELOW - to be updated by shannon later // %>
      <i class="fas fa-heart position-icon text-primary ms-1"></i>
    </div>
  </div>
</div>
