<div class="container", style="position: relative">
  <div class="row">
    <div class="col-12 pt-4 pb-4">
      <h1>Loo #<%= @loo.name %></h1>
    </div>
  </div>

<%# // RATING CONTAINER // %>
  <div class="row border-bottom">
    <div class="col-12 pt-4 pb-4">
      <h2>Rating</h2>
      <%# // PLACEHOLDER FOR ICONS BELOW - to be updated by shannon later // %>
      <i class="fas fa-heart position-icon text-primary ms-1"></i>
    </div>
  </div>

  <%# // FACILITIES CONTAINER // %>
  <div class="row border-bottom">
    <div class="col-12 pt-4 pb-4">
      <h2>Facilities</h2>
      <%# // PLACEHOLDER FOR ICONS BELOW - to be updated by shannon later // %>
      <i class="fas fa-heart position-icon text-primary ms-1"></i>
    </div>
  </div>

<%# // OPENING HOURS CONTAINER // %>
  <div class="row border-bottom">
    <div class="col-12 pt-4 pb-4">
      <h2>Opening hours</h2>
      <%# // PLACEHOLDER FOR ICONS BELOW - to be updated by shannon later // %>
      <%= @loo.opening_hours %>
    </div>
  </div>

<%# // Button to toilet route to be updated //  %>


<%= link_to "TotheLOO!!", loos_path, class: "col-12 mx-auto btn btn-primary", style: "position: absolute; bottom: 0px" %>
</div>
