// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #282828;
$light-gray: #F4F4F4;

// To the Loo colours

$pink: #cf83A6;
$poobrown: #5d4e41;
$weeyellow: #f8de60;
$cream: #f7edc3;
$whitetoilet: #efecec;
$black: hsl(0, 0%, 16%)
