.btn {
  font-family: $button-font;
  font-weight: 800;
  padding: 0.475rem 0.75rem;
  border-radius: 50px;

}

.btn-thin-font {
  font-weight: 400;
}

.btn-2 {
  font-family: $button-font;
  padding: 0.2rem 0.2rem;
  border-radius: 4px;

}

.btn-3 {
  color: $primary;
  background-color: white;



  &:hover {
    color: black;
    background: $primary;


}
}

i[class^="icon-"]:before {
	display: inline-block;
	text-decoration: none;
}
