.category-card {
  width: 100%px;
  height: 40px;
  p {
    margin-bottom: 0;
  }
}
.c-score-bar {
  width: 65%;
  height: 12px;
  background-color: $bar-unfilled;
}
.c-score-bar-value {
  height: 12px;
  background-color: $info;
}
