.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: $body-font;
}

.mapbox-directions-instructions {
  display: none;
}

.mapboxgl-ctrl-top-left {
  position: fixed;
  left: 27px;
  top: 10px;
}



.mapboxgl-ctrl-top-right {
  position: fixed;
  top: 591px;
  right: 0px;
}


.mapboxgl-compact {
  display: none;
}
