.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: $body-font;
  border-radius: 15px;
}

.mapbox-directions-instructions {
  display: none;
}

.mapboxgl-ctrl-top-left {
  position: fixed;
  left: 27px;
  top: 10px;
}



.mapboxgl-ctrl-bottom-right {
  position: fixed;
  bottom: 27px;
  right: 0px;
}


.mapboxgl-compact {
  display: none;
}

{
  'id': 'directions-origin-point',
  'type': 'circle',
  'source': 'directions',
  'paint': {
    'circle-radius': 18,
    'circle-color': '#3bb2d0'
  },
